<header class="bg-blue-500 text-white p-4 border-b-slate-100">
  <div class="container mx-auto items-center flex justify-center">
    <div class="text-2xl font-bold  items-center underline">SALES & INVENTORY MANAGEMENT APP </div>
  </div>
  <div class="items-center flex mx-6 justify-center"><a [routerLink]="'/home'" href="#" class="hover:text-gray-300">Home</a></div>
  <div class="items-center flex mx-6 justify-center"><a [routerLink]="'/salerOperation'" href="#" class="hover:text-gray-300">Saler Operation</a></div>
  <div class="items-center flex mx-6 justify-center"><a [routerLink]="'/masterOperation'" href="#" class="hover:text-gray-300">Master Operation</a></div>
</header>
<div class="">
  <router-outlet></router-outlet> 
</div>
