<style>
    .background-image {
      @apply relative w-full h-full;
    }
  </style>
  <div class = "bg-clip-content bg-opacity-85">
  
  
  <!-- Background me div ke image nhi lgg rha hai mere se -->
  <div class="justify-center items-center flex bg-content bg-no-repeat bg-cover min-h-screen bg-opacity-30" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/01adb479-868d-4af9-b7e9-dfa736797892/d5iwium-66335dbf-eb44-465a-8734-04663fb76245.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8wMWFkYjQ3OS04NjhkLTRhZjktYjdlOS1kZmE3MzY3OTc4OTIvZDVpd2l1bS02NjMzNWRiZi1lYjQ0LTQ2NWEtODczNC0wNDY2M2ZiNzYyNDUucG5nIn1dXX0.R-odDH7Hnk7RjUEMvtJOzgZQt3SGXogH8k0SoFaTDHs');">
    <div *ngIf="!tokenResponse.twoFactorEnabled" class="bg-black py-10 opacity-80 p-8 rounded-xl shadow-md w-96 border text-white">
      <!-- flex or justify lgane se beech me jyega  -->
      <h2 class="text-2xl underline font-bold mb-6 flex justify-center">Login</h2>
      
        <!-- <div class="mb-4">
          <label for="supplier_Id" class="block text-sm font-bold mb-2">User Id</label>
          <input type="text" id="supplier_Id" name="supplier_Id" class=" text-black w-full p-2 border border-gray-300 rounded" [(ngModel)]="tokenRequest.supplier_Id">
        </div>
        <div class="mb-4">
          <label for="supplier_Password" class="block text-sm font-bold mb-2">Password</label>
          <input type="password" id="supplier_Password" name="supplier_Password" class=" text-black w-full p-2 border border-gray-300 rounded" [(ngModel)]="tokenRequest.supplier_Password">
        </div> -->
        <form [formGroup]="loginForm" (ngSubmit)="logInSubmit()">
        <div class="mb-4">
          <label for="supplier_Id" class="block text-sm font-bold mb-2">User Id</label>
          <input type="text" id="supplier_Id" name="supplier_Id" formControlName="supplier_Id" class=" text-black w-full p-2 border border-gray-300 rounded" >
        </div>
        <div class="mb-4">
          <label for="supplier_Password" class="block text-sm font-bold mb-2">Password</label>
          <input type="password" id="supplier_Password" name="supplier_Password" formControlName="supplier_Password" class=" text-black w-full p-2 border border-gray-300 rounded" >
        </div>
        <div class="mb-4">
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 w-full rounded items-center hover:bg-blue-700">Login</button>
      </div>
      </form>
      <div class="mt-4">
        <p class="text-gray-600">Don't have an account? <a href="#" class="text-blue-500">Sign up here.</a></p>
      </div>
    </div> 
    
    <div *ngIf="tokenResponse.twoFactorEnabled" class="bg-black py-10 opacity-80 p-8 rounded-xl shadow-md w-96 border text-white" >
      <h2 class="text-2xl underline font-bold mb-6 flex justify-center">Enter the 6-digit Authenticator Token</h2>
      <form [formGroup]="verifyTokenForm" (ngSubmit)="onVerifySubmit()">
      <div class="mb-4">
        <label for="supplier_id" class="block text-sm font-bold mb-2">Supplier Id</label>
        <input type="text" id="supplier_id" name="supplier_id" formControlName="supplier_id" class=" text-black w-full p-2 border border-gray-300 rounded" >
      </div>
      <div class="mb-4">
        <label for="code" class="block text-sm font-bold mb-2">Generated Token</label>
        <input type="text" id="code" name="code" formControlName="code" class=" text-black w-full p-2 border border-gray-300 rounded" >
      </div>
      <div class="mb-4">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 w-full rounded items-center hover:bg-blue-700">Verify</button>
    </div>
    </form>
    </div>
    <router-outlet></router-outlet>
  </div>
  </div>
