<style>
    .background-image {
      @apply relative w-full h-full bg-origin-content bg-center;
    }
  </style>
<div class="bg-clip-content bg-no-repeat bg-cover min-h-screen bg-opacity-85" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/01adb479-868d-4af9-b7e9-dfa736797892/d5iwium-66335dbf-eb44-465a-8734-04663fb76245.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8wMWFkYjQ3OS04NjhkLTRhZjktYjdlOS1kZmE3MzY3OTc4OTIvZDVpd2l1bS02NjMzNWRiZi1lYjQ0LTQ2NWEtODczNC0wNDY2M2ZiNzYyNDUucG5nIn1dXX0.R-odDH7Hnk7RjUEMvtJOzgZQt3SGXogH8k0SoFaTDHs');">
    <!-- <h1 class="text-4xl font-extrabold underline text-yellow-700 px-10 py-2">Hi saler_Name, Welcome Back !, How May I help you today ?</h1> -->
   <!-- // Ye neeche wala div baad me delete krna prega   -->
  
    <app-task></app-task>
    <!-- Ye neeche wala uncomment krne pe addCustomer Page neeche dikhta hai -->
    <!-- <app-add-customer></app-add-customer> -->
    <!-- <app-add-address></app-add-address> -->
    
  </div>
